@model LoginModel

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1 class="text-center">Login</h1>
        <form asp-action="Login" method="post" class="form-horizontal">
            <div class="form-group">
                <label asp-for="EmailAddress" class="col-sm-3">Email Address: </label>
                <div class="col-sm-9">
                    <input asp-for="EmailAddress" class="form-control" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>